.main {
  max-width: 880px;
}

.action-bar {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  max-width: 880px;
  height: 120px;
  margin: 40px auto 50px;
}

.action-bar__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.action-bar__title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 48px;
  width: 370px;
  height: 39px;
  font-size: 42px;
  margin: 22px 30px 59px;
}

.action-bar__paragraph {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  position: relative;
  top: 60px;
  right: 400px;
}

.action-bar__button {
  background-color: #000;
  border: 1px solid white;
}

.action-bar__button-type-form {
  width: 24px;
  height: 24px;
  position: relative;
  top: 40px;
  right: 250px;
}

.action-bar__button-type-add {
  width: 150px;
  height: 50px;
  border-radius: 2px;
  margin: auto;
}

.gallery {
  width: 880px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.gallery__container-item {
  width: 282px;
  height: 361px;
  border-radius: 10px;
  background-color: #ffffff;
  gap: 20px;
}

.gallery__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
  margin: 0;
  border-radius: 10px 10px 0 0;
}

.gallery__text {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;

}

.gallery__like-button {
  background: transparent;
  border: none;

}

.gallery__container-text {
  display: flex;
  justify-content: space-between;
  max-width: 246px;
  margin: auto;

}

.action-bar__button:hover {
  cursor: pointer;
  opacity: .5;
}

.gallery__like-button:hover {
  cursor: pointer;
  opacity: .5;
}
