.main {
  max-width: 880px;
}

.action-bar {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  max-width: 880px;
  height: 120px;
  margin: 40px auto 50px;
  align-items: center;
}

.action-bar__image {
  width: 120px;
  height: auto;
  border-radius: 50%;
}

.action-bar__container {
  width: 415px;
  height: 77px;
  display: flex;
  flex-direction: row;
  align-items: center; /* Centra verticalmente */
  justify-content: space-between; /* Espacia los bloques */
}

.action-bar__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  gap: 15px;
}

.action-bar__title, .action-bar__paragraph {
  margin: 0;
}

.action-bar__title {
  font-family: 'Inter', sans-serif;
font-weight: 500;
font-size: 42px;
line-height: 48px;

}

.action-bar__paragraph {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  
}

.action-bar__button {
  background-color: #000;
  border: 1px solid white;
}

.action-bar__button-type-form {
  width: 24px;
  height: 24px;
  margin: 0 90px 25px 0;
}

.action-bar__button-type-add {
  width: 150px;
  height: 50px;
  border-radius: 2px;
  margin: auto 0 auto 200px
}

.gallery {
  width: 880px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.gallery__container-item {
  width: 282px;
  height: 361px;
  border-radius: 10px;
  background-color: #ffffff;
  gap: 20px;
}

.gallery__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
  margin: 0;
  border-radius: 10px 10px 0 0;
}

.gallery__text {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;


}

.gallery__like-button {
  background: transparent;
  border: none;

}

.gallery__container-text {
  display: flex;
  justify-content: space-between;
  max-width: 246px;
  margin: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

.action-bar__button:hover {
  cursor: pointer;
  opacity: .5;
}

.gallery__like-button:hover {
  cursor: pointer;
  opacity: .5;
}


@media screen and (max-width: 700px) {
  .action-bar {
    width: 282px;
    width: 100%;
    flex-direction: column;
    margin-bottom: 40px;
    height: auto;
    gap: 30px;

  }

  .action-bar__container {
margin-left: 50px;
  }

  .action-bar__button-type-add {
    width: 282px;
    margin-right: 190px;
  }

  .action-bar__paragraph {
    text-align: center;
    margin-left: 60px;
  }

  .gallery {
    max-width: 282px;
    grid-template-columns: 282px;
    margin: 0 auto;

  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  .action-bar {
    width: 660px;
    box-sizing: border-box;
  }

  .action-bar__container {
    gap: 80px;
    width: auto;
    height: 100%;
  }

  .action-bar__button-type-add {
    margin: 0;
  }

  .gallery {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

  }

}
